<div id="DIV_1">
<div id="DIV_2">
<div id="DIV_3">
<a href="" id="A_4">Expert Service. Unbeatable Price.</a>
</div>
<nav id="NAV_5">
<ul id="UL_6">
<li id="LI_7">
  <a href="" id="A_8">Weekly Ad</a>
</li>
<li id="LI_9">
  <a href="" id="A_10">Deal of the Day</a>
</li>
<li id="LI_11">
  <a href="" id="A_12">Credit Cards</a>
</li>
<li id="LI_13">
  <a href="" id="A_14">Gift Cards</a>
</li>
<li id="LI_15">
  <a href="" id="A_16">Gift Ideas Registry</a>
</li>
</ul>
</nav>
<div id="DIV_17">
</div>
</div>
<div id="DIV_18">
<div id="DIV_19">
<a href="" id="A_20"><span id="SPAN_21">Best Buy Logo</span></a>
</div>
<div id="DIV_22">
<form name="frmSearch" action="" method="GET" id="FORM_23">
<label for="" id="LABEL_24">
</label>
<input type="text" id="INPUT_25" name="st" maxlength="90" placeholder="Search Best Buy" />
<div id="DIV_26">
  <div id="DIV_27">
  </div>
</div>
<button id="BUTTON_28">
</button>
<button type="submit" id="BUTTON_29">
  <span id="SPAN_30"></span>
</button>

</form>
</div>
<ul id="UL_45">
<li id="LI_46">
<a id="A_47" href=""><span id="SPAN_48"></span><span id="SPAN_49">West Des Moines IA</span><span id="SPAN_50">Open till 9 pm</span></a>
</li>
<li id="LI_51">
<a href="" title="Cart" id="A_52">Cart</a>
<div id="DIV_53">
</div>
</li>
</ul>
</div>
</div>
<div id="DIV_1">
<nav id="NAV_2">
<ul id="UL_3">
<li id="LI_4">
<a href="" id="A_5">Products</a>
</li>
<li id="LI_1301">
<a href="" id="ADesigns">Brands</a>
</li>
<li id="LIDeals">
<a href="" id="ADesign">Deals</a>
</li>

<li id="LIServices">
<a href="" id="AServices">Services</a>
</li>
  <li id="LIRegister">
    <a routerLink="/register" id="ARegister">Register</a>
  </li>
  <li id="LISignin">
    <a routerLink="/login" id="ASignin">Sign In</a>
  </li>
</ul>
</nav>
  <router-outlet></router-outlet>
</div>


